<h1 class="separator">Eventbook</h1>

<div class="notifications">
  <p class="notification"><%= notice %></p>
</div>

<div class="separator">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date & time</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.title, event %></td>
          <td><%= event.event_date.strftime("%b %d") %> @ <%= event.event_time.strftime("%H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @events %>

  <%= link_to 'New event', new_event_path %>
</div>

<div id="highlights-section">
  <h3>Today's highlights</h3>

  <ul>
    <% @highlights.each do |highlight| %>
      <b>
        <li class="main_list_item"><%= link_to highlight.title, highlight %></li>
      </b>
      <p class="item_data">
        <%= highlight.event_date.strftime("%b %d") %> @ <%= highlight.event_time.strftime("%H:%M") %>
      </p>
    <% end %>
  </ul>
</div>
