<h1 class="separator">Eventbook</h1>

<h2>
  <%= @event.title %>
</h2>

<span class="details">
  <b>Date & time</b>: <%= @event.event_date.strftime("%b %d") %> @ <%= @event.event_time.strftime("%H:%M") %>
  <br />
  <b>Price</b>: $<%= @event.price %> (USD)
</span>

<p class="separator">
  <%= @event.location %><br /><br />
  <%= @event.description %>
</p>

<%= link_to 'Back', events_path %>
